body{
	background-color: #0E0F19;
	color: white;
	font-family: Arial, serif;
	letter-spacing: 1px;
	font-size: 15px;
}


ul li{
	list-style: none;
	line-height: 26px;
	font-size: 20px;
}



h1{
	color: black;
}

h1, h2, h3{
	font-family: avenir;
}


/* Couleur titre "Hellow I'm Shaï" */

h1{
	color: #CE8147;
	font-family: courier;
	font-weight: 501;
	text-align: center;
}


/* Couleur des titres h2 et h3 */

h2, h3{
	color: #1B998B;
}


/* Propriétés appliquées sur la photo de moi */

.moi{
	width:110px;
	height: 110px;
	margin-left: 41%;
	border-radius: 50%;
	margin-top: 2% ;
}



/* Introduction et ses propriétés */

.intro{
	text-align: center;
	margin-left: 6%;
	margin-right: 6%;
	margin-top: 5%;
}

div.div_intro{
	background: #080021;
	border: 2px solid #080021;
	padding: 25px;
	margin: 40px auto;
	margin-top: 3.5%;
	box-shadow: 1px 3px 8px black;
	padding-bottom: 55px;
}


/* Design boutons lien qui emmène vers Netflix */

.Netflix{
	text-decoration: none;
	background-color: orange;
	padding: 10px;
	color: black;
	border-radius: 7px;
	position: relative;
	left: 24%;
	top: 15px;
}
/* Div jeux avec son titre et son texte */

div.div_jeux{
	background: #080021;
	border: 2px solid #080021;
	padding: 25px;
	margin: 40px auto;
	margin-top: 3.5%;
	box-shadow: 1px 3px 8px black;

}

.titre_jeux{
	text-align: center;
	position: relative;
	bottom: 13%;
}

.jeux{
	text-align: center;
	position: relative;
	bottom
}


/* Div sport avec son titre et son texte */

.div_sport{
	background: #080021;
	border: 2px solid #080021;
	padding: 25px;
	margin: 40px auto;
	margin-top: 3.5%;
	box-shadow: 1px 3px 8px black;
}

.titre_sport{
	text-align: center;
	position: relative;
	bottom: 8%;
}

.sport{
	text-align: center;
	position: relative;
	bottom: 2px;
}


/* Div paysages avec son titre et son texte */

.div_paysages{
	background: #080021;
	border: 2px solid #080021;
	padding: 25px;
	margin: 40px auto;
	margin-top: 3.5%;
	box-shadow: 1px 3px 8px black;
}

.titre_paysages{
	text-align: center;
	position: relative;
	bottom: 2%;
}

.paysages{
	text-align: center;
}

.div_réseaux{
	background: #080021;
	border: 2px solid #080021;
	padding: 25px;
	margin: 40px auto;
	margin-top: 3.5%;
	box-shadow: 1px 3px 8px black;
}




/* Design Titre : Suivez-moi */

.titre_follow{
	text-align: center;
	position: relative;
	bottom: 7%;
}


/* Design boutons */

ul{
	display: flex;
	margin-left: 5%;
}

ul li{
	list-style: none;
}

ul li a{
	margin-left: 70px;
	position: relative;
	top: 2%;
	background-color: #333;
	padding: 7px;
	font-size: 35px;
	height: 65px;
	width: 65px;
	border-radius: 50%;
	display: block;
	text-align: center;
	line-height: 65px;
	color: black;
}

ul li a:hover{
	color: red;
	text-shadow: 0px 0px 20px red;
	transition: 0.25s;
	box-shadow: 0px 0px 13px red;
	width: 60px;
	height: 60px;
	line-height: 62px;
}

ul li a:hover{
	border: 2px solid red;
	transition: 0.3s;
}


.moi:hover{
	width:120px;
	height: 120px;
	transition: 0.25s;
}

.container{
	width: 700px;
	margin: 40px auto;
}


/* Ombre des div lorsqu'on passe la souris dessus */

.div_intro:hover{
	box-shadow: 3px 0px 8px black;
	transition: 0.5s;
}

.div_réseaux:hover{
	box-shadow: 3px 0px 8px black;
	transition: 0.5s;
}

.div_paysages:hover{
	box-shadow: 3px 0px 8px black;
	transition: 0.5s;
}

.div_jeux:hover{
	box-shadow: 3px 0px 8px black;
	transition: 0.5s;
}

.div_sport:hover{
	box-shadow: 3px 0px 8px black;
	transition: 0.5s;
}


@media (max-width: 500px){
	.container{
		width: 400px;
		
	}
	.Netflix{
		font-size: 13px;
		position: relative;
		top: 15px;
		left: -50px;
	}
	ul li a{
		margin-left: 30px;
		position: relative;
		right: 65px;
	}

}
	

}